## 가설검정
1. T-test : 모평균 비교에 관한 가설검정
2. One-Way Anova: 모평균 비교에 관한 가설검정
3. F-test : 모분산 비교에 관한 가설검정
4. Chi-test : 범주형 변수 간의 독립성 검정

- corr : 상관분석

In [1]:
import pandas as pd
import numpy as np
import scipy, re, warnings

### 샘플 1번

In [3]:
df = pd.read_csv('01_ADS_Sample_1.csv')
df.head()

  YEAR_MONTH  SOCIAL     TV  NEWSPAPER  SALES_AMT
0   2005-Dec   84.72  19.20      48.96      14.28
1   2006-Jan  351.48  33.96      51.84      11.52
2   2006-Feb  135.48  20.88      46.32      20.88
3   2006-Mar  116.64   1.80      36.00      11.40
4   2006-Apr  318.72  24.00       0.36      15.36

In [4]:
df.columns

Index(['YEAR_MONTH', 'SOCIAL', 'TV', 'NEWSPAPER', 'SALES_AMT'], dtype='object')

In [5]:
a = df[['SOCIAL', 'TV', 'NEWSPAPER', 'SALES_AMT']].corr()
a[['SALES_AMT']]
# 매출금액(SALES_AMT)과 상관 정도가 가장 강한 변수를 찾고 
# 해당 변수와 매출금액(SALES_AMT)과의 상관계수 값을 기술하시오. (배점 5점)

# TV, -0.183

           SALES_AMT
SOCIAL      0.037020
TV         -0.183192
NEWSPAPER   0.002282
SALES_AMT   1.000000

### 샘플 2번

In [6]:
df['year'] = [val.split('-')[0] for val in df['YEAR_MONTH']]
df['month'] = [val.split('-')[1] for val in df['YEAR_MONTH']]
df.head()

  YEAR_MONTH  SOCIAL     TV  NEWSPAPER  SALES_AMT  year month
0   2005-Dec   84.72  19.20      48.96      14.28  2005   Dec
1   2006-Jan  351.48  33.96      51.84      11.52  2006   Jan
2   2006-Feb  135.48  20.88      46.32      20.88  2006   Feb
3   2006-Mar  116.64   1.80      36.00      11.40  2006   Mar
4   2006-Apr  318.72  24.00       0.36      15.36  2006   Apr

In [7]:
# 2009년, 2019년 매출 합계
sum2009 = df.loc[df['year']=='2009', 'SALES_AMT'].sum()
sum2019 = df.loc[df['year']=='2019', 'SALES_AMT'].sum()

res = ((sum2019 - sum2009)/sum2009)*100
round(res, 3)

0.194

### 샘플 3번

In [16]:
# 두 모평균 차 추정
#  2009년과 2019년의 매출금액(SALES_AMT) 평균이 통계적으로 
#  유의한 차이가 있는지 검정하고자 한다. 적절한 검정 수행 후, 
#  유의 확률(P-value)의 값을 기술하시오.
#  단, 검정 시 세운 대립 가설(H₁)은 다음과 같다.
#  대립 가설(H₁): 2009년과 2019년의 매출금액의 평균이 같지 않다

q3 = df[(df['year']=='2009')|(df['year']=='2019')]
tab = pd.pivot_table(q3, index=['month'],columns=['year'], values='SALES_AMT')

# tab.columns
from scipy.stats import ttest_rel

out = ttest_rel(tab['2009'], tab['2019'])
print(round(out[1], 3))

0.992